<div class="container">
    <div class="subdiv">
        <div class="firstdiv">
           <div>
               <img src="../../assets/img/Jeff.jpg" alt="">
             
           </div>
           <div>
            <img src="../../assets/img/Marissa.jpg" alt="">
           </div>
        </div>
        <div class="secnddiv">
          <img src="../../assets/img/satya.jpg" alt="" style=" width: 15em; height: 10em;">
        </div>
    </div>
    <div>
        <img src="../../assets/img/Mark.jpg" alt="">
    </div> 
    <div>
        <img src="../../assets/img/sundhar.jpg" alt="">
    </div>
     <div>
     <img src="../../assets/img/Tim.jpg" alt="">
    </div>
</div>